#slideshow{
  width: auto;
 height: 800px;
}
.header{
  /* background-color: #172172; */
  background-color: black;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 190px;
}

h3{
  text-align: center;
  color: #171818;
 
  
}
h5{
  color: #0fabf3;
  
}
#service{
  color: #070707;
  
}
.ser{
padding: 5%;
}


.video{
  text-align: center;
}
.second{

text-align: center;
float: left;
display:flex ;
padding-top: 20px;

}
.exper{
  float: right;
text-align: center;
}

h1{
  font-size: xx-large;
  color: #0c0c0c;

}
.sec{
  width: 80%;
  margin: auto;
}





@media screen and (max-width: 940px){
  #slideshow{
    width: 100%;
   height: 400px;
  }
  .exper{
 flex-wrap: wrap;
  }
 
}