.logo{
    width: 17%;
    padding-left: 2%;
  
   
}
.options{
    margin-left: auto;
    padding-top: 0%;
  
}
.number{
    float: right;
    margin-top: 2%;    
}
h9{
    color: rgb(152, 151, 151);
    font-size: x-large;
}
.brand{
    display: flex;
    justify-content: space-between;
}
.button{
    padding: 10px;
border: none;
background: none;
color: white;

}
.button:hover{
    border-bottom: 3px solid rgb(34, 68, 180);
    padding-bottom: 12px;
}
