h1{
  color: rgb(243, 243, 243);
}
.head{
  padding: 3%;
}
.container{
  padding: 3%;
}


.col-container {
  display: table; 
  width: 100%; 
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
  padding: 0;
  border-style:solid;
  border-color:#060505;
  margin: auto;
  text-align: center;
  padding: 5px;
}
.pic1{
  width: 100%;
  padding: 2%;

}
.footer3{
  padding: 5%;
}