
.services{
  width: 100%;
  
}
.services .container{
  width: 1240px;
  margin: 4rem auto;
}
.services h2{
  font-size: 3rem;
  text-align: center;
  
}
.services .container .content {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
  margin: 4rem 0;
}

.services .card {
  border: 1px solid #eee;
  box-shadow: 0 3px 10px rgba(78, 76, 76, 0.2);
  padding: 1rem;
}


.services .card p {
  color: rgb(137, 137, 137);
  font-size: 1.1rem;
  margin: 12px;
}
.services .card strong {
  color: rgb(8, 8, 8);
  font-size: 1.1rem;
  margin: 12px;
}
.services img {
  width: 100%;
  height: 40%;
}
.services .card span{
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 940px){
  .services .container{
      width: 100%;
  }
  .services .container .content{
      grid-template-columns: 1fr;

  }
  .services .card{
      max-width: 100%;
      margin: 1rem;
  }
}
