
.head{
  padding: 3%;
}
.container{
  padding: 3%;
}
.col-container {
  display: table; 
  width: 100%; 
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
  justify-content: space-between;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 10px;
}
.pic1{
  width: 100%;
  padding: 2%;

}
h1{
  size: medium;
}